 <main>

   <div class="shoplogo_wrap">
     <h1 class="logo_bk"><a href="/"></a></h1>
   </div>
   <nav class="shop_submenu">
     <ul>
       <li>Blend</li>
       <li>Single Origin</li>
       <li>Cold Brew</li>
       <li>Subscription</li>
     </ul>
   </nav>

   <div class="W-fix blend-list">
     <div class="list-infoTxt list-box">
       <h1 class="logo_kr"></h1>
       <p>커피에 대한 우리의 진심을 간결하고도 명료하게 담았습니다.
         <br>앤트러사이트만의 개성 강한 블랜드를 경험하세요.
       </p>
     </div>
     <% rows.forEach((row, index)=>{ %>
     <div class="list-box">
       <a onclick="javascript:location.href='/shop_detail?id=<%= row.id %>'">
         <div class="product-img"><img src="<%= row.shopImg %>"></div>
         <div class="item_txt">
           <h3><%= row.productTitle %></h3>
           <h3 class="price"><%= row.price %></h3>
         </div>
         <h4><label>로스팅레벨</label><%= row.infoTextFIRST %></h4>
         <h4><label>플레이버</label><%= row.infoTextSECOND %></h4>
       </a>
     </div>
     <% }); %>

   </div>
   <div class="W-fix uploadBtn-wrap">
     <input class="uploadBtn" type="button" value="상품등록" onclick="location.href='/shop_upload'"></a></input>

   </div>








 </main>