  <main class="contact_main">
    <div class="shoplogo_wrap">
      <h1 class="logo_bk"><a href="/"></a></h1>
    </div>
    <nav class="shop_submenu">
      <ul>
        <li><a href="/notice">공지사항</a></li>
        <li><a href="/contact" style="text-decoration:underline;">샘플 신청 안내</a></li>
      </ul>
    </nav>

    <div class=" sampleRequest_wrap">
      <article class="sampleRequest_infoTxt">
        <h1>샘플 신청 안내</h1>
        <p>샘플은 블렌딩 6종 중 희망하시는 상품을 선택하신 후
          게시판에 신청서를 작성해주시면 순차적으로 연락을 드립니다.</p>
        <p>
          샘플비용은 유상이며 블렌딩에 따라 가격이 상이합니다.
        </p>
        <p>
          원두샘플의 기본 판매중량은 500g입니다.
        </p>
      </article>
      <article class="sampleRequest_contents">
        <div class="sampleRequest_img"></div>
        <div class="sampleRequest_listWrap">
          <div class="list_top_wrap">
            <p>샘플신청 게시판</p>
            <input class="writeBtn" type="button" value="글쓰기" onclick="location.href='/contact_write'">
          </div>
          <table class="request_list_wrap">
            <thead class="list_header">
              <tr>
                <th class="list_header_number">No</th>
                <th class="list_header_title">제목</th>
                <th class="list_header_written">글쓴이</th>
                <th class="list_header_date">작성일</th>
              </tr>
            </thead>
            <tbody class="list_body">
              <% rows.forEach((row, index)=>{ %>
              <tr class="list_line">
                <td><%= row.id %></td>
                <td class="list_body_title">
                  <div>
                    <a onclick="javascript:location.href='/contact_page?id=<%= row.id %>'">
                      <span class="board_lock"></span>
                      샘플신청합니다.
                    </a>
                  </div>
                </td>
                <td>
                  <div>
                    <a href='/contact_page?id=<%= row.id %>'><%= row.writer %></a>
                  </div>
                </td>
                <td>
                  <div>
                    <a href='/contact_page?id=<%= row.id %>'><%= row.create_time %></a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>

          </a></input>


        </div>
      </article>


    </div>


  </main>