<div class="shoplogo_wrap">
  <h1 class="logo_bk"><a href="/"></a></h1>
</div>
<nav class="shop_submenu">
  <ul>
    <li><a href="/notice" style="text-decoration:underline;">공지사항</a></li>
    <li><a href="/contact">샘플 신청 안내</a></li>
  </ul>
</nav>

<article class="notice_page">
  <div class="noticePage_header">
    <div>
      <span class="notice_HeaderTitle" name="noticeTitle"><%= row.noticeTitle %></span>
      <input type="hidden" name="id" value="<%= row.id %>"></input>
    </div>
    <div class="notice_side">
      <span class="notice_HeaderName" name="writer">관리자</span>
      <span class="notice_HeaderDate" name="create_time"><%= row.create_time %></span>
    </div>
  </div>
  <div class="contentsPage_body">
    <pre class="contentsPage_text" name="noticeContents"><%= row.noticeContents %>

    </pre>
  </div>
  <input class="listBtn" type="button" value="목록" onclick="location.href='/notice'">
  <div class="form_Buttons">
    <input class="editBtn" type="button" value="수정" onclick="javascript:location.href='/notice_edit?id=<%= row.id %>'">
    <input class="deleteBtn" type="submit" value="삭제"
      onclick="javascript:location.href='/deleteNotice?id=<%= row.id %>'">
  </div>

</article>