<article class="formContents_page">
  <div class="contentsPage_header">
    <div>
      <span name="id"><%= row.id %></span>
      <span class="contentsPage_HeaderTitle"><span class="board_lock"></span>샘플신청합니다.</span>
      <span class="contentsPage_HeaderName" name="writer"><%= row.writer %></span>
      <span class="contentsPage_HeaderDate" name="create_time"><%= row.create_time %></span>
    </div>
    </tr>
    </thead>
  </div>
  <div class="contentsPage_body">
    <p class="contentsPage_text" name="textBox"><%= row.textBox %>

    </p>
  </div>
  <input class="listBtn" type="button" value="목록" onclick="location.href='/contact'">
  <div class="form_Buttons">
    <input class="editBtn" type="button" value="수정" onclick="javascript:location.href='/contact_edit?id=<%= row.id %>'">
    <input class="deleteBtn" type="submit" value="삭제" onclick="javascript:location.href='/deleteForm?id=<%= row.id %>'">
  </div>

</article>