<div class="shoplogo_wrap">
  <h1 class="logo_bk"><a href="/"></a></h1>
</div>
<nav class="shop_submenu">
  <ul>
    <li>Blend</li>
    <li>Single Origin</li>
    <li>Cold Brew</li>
    <li>Subscription</li>
  </ul>
</nav>


<div class="shopWrite_wrap">
  <div>
    <form action="/editShop" method="post" enctype="multipart/form-data">
      <div>
        <input type="hidden" name="id" value="<%= row.id %>">
        <label>제품 이름</label>
        <input type="text" name="productTitle" value="<%= row.productTitle %>">
      </div>
      <div>
        <label>가격</label>
        <input type="text" name="price" value="<%= row.price %>">
      </div>
      <div>
        <label>이미지 선택</label>
        <input type="file" name="shopImg">
      </div>
      <div>
        <label>로스팅레벨</label>
        <input type="text" name="infoTextFIRST" value="<%= row.infoTextFIRST%>">
      </div>
      <div>
        <label>플레이버</label>
        <input type="text" name="infoTextSECOND" value="<%= row.infoTextSECOND %>">
      </div>
      <div class="shop-buttons">
        <input class="saveBtn" type="submit" value="완료">
      </div>

    </form>
  </div>

</div>